<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mercado Liebre</title>
    <link href = "https: //fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel=" stylesheet ">
    <link rel="stylesheet" href="/css/normalize.css">
    <link href = "./css/styles.css" rel = "stylesheet">
    <script src="https://kit.fontawesome.com/40646c4028.js" crossorigin="anonymous"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet" /> 
    <link rel = "preconnect" href = "https://fonts.googleapis.com">
    <link rel = "preconnect" href = "https://fonts.gstatic.com" crossorigin>
    

</head>

<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <img src="./img/Imagenesdescargadas/logo-mercado-liebre.svg" class="logo">
            <h2 class="copy-header">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>

        <a href="#" class="hamburguesa-button">
            <i class="fas fa-bars"></i>
        </a>

        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="right-navbar">
                <li><a href="register">Creá tu cuenta <i class="far fa-credit-card"></i></a></li>
                <li><a href="login">Ingresá <i class="header-icon fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class=" header-icon fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>

    </header>

    <main>
        <form action="#" method="get" class="registro-form">
            <div>
                <input type="text" placeholder="Ingrese su nombre y apellido" name="NombreApellido">
            </div>
            <div>
                
                <input type="text" placeholder="Escoja un nombre de usuario" name="Nombredeusuari">
            </div>
            <div>
                <label class="title-label-form">Fecha de Nacimiento</label>
                <input type="date" placeholder="Fecha de Nacimiento" name='fecha' placeholder="Fecha Nacimiento">
            </div>
            <div>
                
                <input type="text" placeholder="Informe su domicilio" name="domicilio">
            </div>
            <div>
                <label class="title-label-form">Perfil de Usuario</label>
                <label for="rb-testoperation">
                    Comprador<input type="radio" value='compra' name="rb-testoperation" class="checkbox">
                </label>
                <label for="rb-testoperation">
                    Vendedor<input type="radio" value='venta' name="rb-testoperation" class="checkbox">
                </label>
            </div>
            <div>
                <label for="categorias" class="title-label-form"> Intereses</label> 
                <label for="Electro">Electro </label> <input type="checkbox" value="Electro" class="checkbox" >
                <label for="Moda">Moda </label><input type="checkbox" value="Moda" class="checkbox" >
                <label for="Hogar">Hogar </label><input type="checkbox" value="Hogar" class="checkbox">
                <label for="Juguetería">Juguetería </label><input type="checkbox" value="Juguetería" class="checkbox">
                <label for="Vida sana">Vida sana </label><input type="checkbox" value="Vidasana" class="checkbox">
              
            </div>
            <div>
                <label for="img" class="title-label-form">Suba su imagen</label>
                <input type="file" name="img" >
            </div>
            <div>
                <label for="pass" class="title-label-form">Contraseña</label>
                <input type="password" placeholder="Contraseña" name="pass">
            </div>
            <div>
                <input class="button-CTA" type="submit" value="Enviar" name="enviar">
                <input class="button-CTA" type="reset" value="Limpiar" name="limpiar">

            </div>
            
         
        </form>
    </main>

    <footer>
        
        <section class="footer-container">
            <article class="footer-content">
                
                <div>   
                    <i class="fas fa-credit-card footer-icon"></i>
                </div>
                <div class="bottom-content">
                    <h4>Paga con tarjeta o efectivo</h4>
                    <span>
                        Con Mercado Liebre Cash, tenés cuotas 
                        sin interés con tarjeta o efectivon puntos de pago.
                    </span>
                </div>
                
            </article>

            <article class="footer-content">
                
                <div>
                    <i class="fas fa-gift footer-icon"></i>
                </div>
                <div class="bottom-content">
                    <h4>Envios gratis desde $2000 </h4>
                    <span> Solo por estar registrado en Mercado
                        Liebre tenés envíosgratis en mas de 1000 productos!!!
                    </span>
                </div>
               
            </article>

            <article class="footer-content">
              
                <div>
                    <i class="fas fa-user-shield footer-icon"></i>
                </div>
                <div class="bottom-content">
                    <h4>Seguridad de principio a fin</h4>
                    <span>¿No te gusta? lo podes devolver!!!</span>
                </div>
              </article>
            </article>

            <div class="footer-content">
                
                <span class="copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</span>
                
            </div>
        </section>

    </footer> 

</body>

</html>